In [1]:
import pandas as pd

data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)

employees = employees.drop(["2"])
print(employees)

      name    country  age
1  Michael     Canada   25
3     Liza  Australia   19

In [2]:
import pandas as pd

data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)

employees = employees.drop(["age"], axis=1)
print(employees)

      name    country
1  Michael     Canada
2     John        USA
3     Liza  Australia

In [1]:
import numpy as np
import pandas as pd

data = pd.DataFrame([[1, 2, 3], [4, np.nan, 6], [7, np.nan, np.nan]])

print(data)

   0    1    2
0  1  2.0  3.0
1  4  NaN  6.0
2  7  NaN  NaN

In [2]:
data = data.dropna()

print(data)

   0    1    2
0  1  2.0  3.0

In [3]:
import numpy as np
import pandas as pd

data = pd.DataFrame([[1, 2, 3], [4, np.nan, 6], [7, np.nan, np.nan]])

data = data.fillna({0: data[0].mean(), 1: data[1].mean(), 2: data[2].mean()})

print(data)

   0    1    2
0  1  2.0  3.0
1  4  2.0  6.0
2  7  2.0  4.5