In [1]:
import pandas as pd

data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"}
}

employees = pd.DataFrame(data)
employees["age"] = [25, 32, 19]
print(employees)

      name    country  age
1  Michael     Canada   25
2     John        USA   32
3     Liza  Australia   19

In [5]:
import pandas as pd

data = {
    "name": {"1": "Michael", "2": "John", "3": "Liza"},
    "country": {"1": "Canada", "2": "USA", "3": "Australia"},
    "age": {"1": 25, "2": 32, "3": 19}
}

employees = pd.DataFrame(data)

new_employee = pd.Series(["Jhon", "Denmark", 23], ["name", "country", "age"])

employees = pd.concat([employees, new_employee.to_frame().T], ignore_index=True)
print(employees)

      name    country age
0  Michael     Canada  25
1     John        USA  32
2     Liza  Australia  19
3     Jhon    Denmark  23

In [6]:
import pandas as pd

data1 = {
    "name": {"1": "Michael", "2": "John"},
    "country": {"1": "Canada", "2": "USA"},
    "age": {"1": 25, "2": 32}
}

employees1 = pd.DataFrame(data1)

data2 = {
    "name": {"3": "Liza", "4": "Jhon"},
    "country": {"3": "Australia", "4": "Denmark"},
    "age": {"3": 19, "4": 23}
}

employees2 = pd.DataFrame(data2)

employees = pd.concat([employees1, employees2])

print(employees)

      name    country  age
1  Michael     Canada   25
2     John        USA   32
3     Liza  Australia   19
4     Jhon    Denmark   23